modules = ["nodejs-20", "web", "bash"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "PayVora Mobile (Expo)"

[[workflows.workflow]]
name = "PayVora Mobile (Expo)"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "pnpm --filter @workspace/mobile run dev"

[workflows.workflow.metadata]
outputType = "console"

[agent]
stack = "BEST_EFFORT_FALLBACK"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 8080
externalPort = 8080

[nix]
channel = "stable-25_05"
packages = ["nano"]

[userenv]

[userenv.shared]
PORT = "8080"
EXPO_PUBLIC_DOMAIN = "www.payvora.org"
EXPO_PUBLIC_GOOGLE_WEB_CLIENT_ID = "529491115901-mt2b2k6me217h5r11sruunhfingtoetv.apps.googleusercontent.com"
RELOADLY_ENV = "topup-prod"
